@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap");

$primary-color: #562e19;
$secondary-color: #f9e498;
$third-color: #f49202;
$text-color: #fff;
$hamburger-color: #000;
$quote-font: "Playfair Display", serif;
$base-font: "Raleway", sans-serif;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: $base-font;
  background-color: lighten($secondary-color, 10%);
}
/* common style*/
.wrapper {
  padding-top: 6rem;
  margin: 0 auto;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  padding: 6rem 1rem;
}

/* Media querries */

@mixin media-xs {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin media-sm {
  @media screen and (min-width: 577px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
