*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}

/* common style*/

.p-abs_l_t {
  position: absolute;
  left: 0;
  top: 0;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex {
  display: flex;
}
/* Navbar */

.nav__container {
  background-color: white;
  height: 6rem;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 2rem;
  height: 24px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0.25rem;
  top: 1rem;
  width: 22px;
  height: 2.2px;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 22px;
  height: 2.2px;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 6px;
  width: 14px;
  height: 2.2px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 5px);
  width: 25px;
}
.menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(4px, -3px);
  width: 25px;
}

.nav {
  position: relative;
}

.logo {
  height: 100%;
  padding-top: 1.7rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.logo__img {
  height: 32px;
  width: auto;
}

.nav__menu {
  width: 40vw;
  z-index: 10;
  background-color: white;
  height: 50vh;
}
